body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }


/*
#features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }
    #map canvas {
        cursor: crosshair;

    }*/

.mapboxgl-popup {
  max-width: 400px;
  font: 16px/20px 'Garamond',Arial, Garamond;
  font-weight: 600;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #DBEFFF;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #DBEFFF;
}

.mapboxgl-popup-content {
  background-color: #DBEFFF;
}



.button{
position: relative;
margin: 10px;
height: 50px;
width:50px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #fff;
background: #4AA9FC
}

.button_layer{
position: relative;
margin: 10px;
height: 50px;
width:50px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #fff;
background: #4AA9FC
}

#fit_to{
  position:absolute;
  top:650px;
  height:300px;
  width:150px;
}

/*Change Style Menu
#menu {
       position: absolute;
       background: #fff;
       padding: 10px;
       font-family: 'Open Sans', sans-serif;
   }*/



/*
.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}
*/
